Thumbs.db
.DS_Store
._*
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
DS_Store
.archetypes
.assets
.exampleSite
.images
.layouts
.static
.theme.toml

# 用途不明
resources
*.lock

# 院試過去問
exampleSite/static/pdf/grad/

# 準備用
*.xlsx
*.numbers
*.zip
