Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
DS_Store
.archetypes
.assets
.exampleSite
.images
.layouts
.static
.theme.toml
# 用途不明
resources
*.lock
