.filter-controls{
  li{
    cursor: pointer;
    transition: .1s ease;
    &.active{
      font-weight: 600;
      color: $primary-color;
    }
    &:hover{
      color: $primary-color;
    }
  }
}

/* 研究室の教授の名前もこれ */
.tag-list{
  a{
    display: block;
    padding: 5px 10px;
    // background: $light;
    border: 1px solid $border-color;
    border-radius: 6px;
    color: $text-color;
    &:hover{
      background-color: $primary-color;
      color: $white;
    }
  }
}

/* 研究室の連絡先リンク */
.contact-link {
  display: block;
  padding: 5px 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
  color: $text-color; // テスト用
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

/* 研究室のキーワードリンク */
.keyword-link {
  display: block;
  padding: 5px 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
  color: $text-color;
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.media a:hover h5 {
  color: $primary-color;
  transition: 0.3s;
}
