{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-1 order-lg-2">
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "categories" }}</h4>
    {{- if isset site.Taxonomies "la_categories" }}
    {{- if not (eq (len site.Taxonomies.la_categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := site.Taxonomies.la_categories }}
      <li class="border-bottom"><a href="{{ `la_categories/` | relLangURL }}{{ $name | urlize | lower }}/" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "tags" }}</h4>
    {{- if isset site.Taxonomies "la_tags" }}
    {{- if not (eq (len site.Taxonomies.la_tags) 0) }}
    <ul class="list-inline tag-list">
      {{- range $name, $items := site.Taxonomies.la_tags }}
      <li class="list-inline-item mb-2"><a href="{{ `la_tags/` | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- members -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "faculties" }}</h4>
    {{- if isset .Params "faculties" }}
    {{- if not (eq (len .Params.faculties) 0) }}
    <ul class="list-inline tag-list">
      {{- range $link, $name := .Params.faculties }}
      <li class="list-inline-item mb-2"><a href="{{ `faculty/` | relLangURL }}{{ $link | urlize | lower }}/">{{ $name | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}
