{{ define "main" }}

<section class="bg-gray section">
    <div class="container">
        <div class="document">
            <h4>Hmmm... you reached at the pape 404.</h4>
            <h5>Meaning:</h5>
            <ol>
                <li>HTTP error 404 → the page is missing.  </li>
                <li>CAS No. 404-86-4 → <a href="https://en.wikipedia.org/wiki/Capsaicin">Capsaicin</a> (8-methyl-N-vanillyl-6-nonenamide) is an active component of chili peppers</li>
                <li>R-404A → <a href="https://www.freon.com/en/products/refrigerants/r404a">a HFC Refrigerant</a> </li>
                <li>404 RD → ethyl 4-[(E)-(1-{N-[4-(propan-2-yloxy)phenyl]amino}ethylidene)amino]benzoate</li>
            </ol>
        </div>
    </div>
</section>

{{ end }}
